
[submodule "Foundry-Work/example_project/lib/forge-std"]
	path = Foundry-Work/example_project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Foundry-Work/example_project/lib/openzeppelin-contracts"]
	path = Foundry-Work/example_project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
